player-connection-mode=Listen
player-connection-guid=1691752881
player-connection-debug=0
player-connection-project-name=PUN2
player-connection-ip=192.168.1.100
player-connection-ip=172.18.112.113
player-connection-ip=192.168.56.1
player-connection-ip=192.168.99.1
player-connection-ip=172.21.128.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
gc-max-time-slice=3
